.more{
    font-family: 'DM Sans', sans-serif;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 15.35pt;
    line-height: 13.89pt;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    height: 29px;
    padding-top: 4px;
}