.video-progress > *,
.video-progress {
  cursor: pointer;
  touch-action: none;
  transition: none;
}
.video-progress {
  width: 100%;
  height: 29px;
  margin: 3px 10px;
  position: relative;
  background-color: #d4d4d4;
}

.progress-bar {
  width: 0px;
  float: left;
  height: 100%;
  background-color: #00a99d;
  background-image: linear-gradient(90deg, #67e37f, #00a99d);
}

.video-progress,
.progress-bar {
  border-radius: 5px;
}

.interaction-point {
  left: 36px;
  width: 3px;
  color: white;
  height: 29px;
  margin-left: -3px;
  position: absolute;
  text-align: center;
  background: #00786e;
}

.interaction-point:hover {
  background: red;
}

.interaction-point:hover::before {
  border: 3px solid red;
}

.interaction-point::before {
  width: 15px;
  height: 15px;
  content: " ";
  display: block;
  margin-top: 7px;
  margin-left: -6px;
  border-radius: 50%;
  border: 3px solid #00786e;
  background: linear-gradient(#fff 40%, #e8e8e8);
}

