.t1-limit-container{
    min-width: 299px;
    height: 184px;
    margin: 0px 31px;
    margin-top: 40px;
    background-image: url('../../../../assets/Group2x2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // .topic1-image{
    //     width: 100%;
    // }
}
