* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

main {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
